.container {
    display: flex;
    font-size: small;
}

.spacer1 {
    display: flex;
    align-items: center;
    flex: 1;
}

.spacer2 {
    display: flex;
    align-items: center;
    flex: 2;
}

.spacer3 {
    display: flex;
    align-items: center;
    flex: 3;
}

.pop-bar {
    margin-right: 3vw;
}

.tiny-spacer {
    width: 1vw;
}