<div class="row">
    <img class="album-image" [src]="playerState.track_window.current_track.album.images[0].url" alt="album">
    <div class="column">
        <span class="track-name">{{playerState.track_window.current_track.name}}</span>
        <span class="artist-name">{{playerState.track_window.current_track.artists[0].name}}</span>
    </div>
    <div class="column">
        <div class="row">
            <mat-icon>shuffle</mat-icon>
            <mat-icon>skip_previous</mat-icon>
            <mat-icon>play_arrow</mat-icon>
            <mat-icon>skip_next</mat-icon>
            <mat-icon>loop</mat-icon>
        </div>
    </div>
</div>
