.container {
    display: flex;
    font-size: small;
    padding-right: 2vw;
    background-color: #1ed75f81;
    color: #000;
}

.spacer1 {
    display: flex;
    align-items: center;
    flex: 1;
}

.spacer2 {
    display: flex;
    align-items: center;
    flex: 2;
}

.spacer3 {
    display: flex;
    align-items: center;
    flex: 3;
}

.tiny-spacer {
    width: 1vw;
}

#line {
    border-color: lightgrey;
    background-color: lightgrey;
    margin-top: 1vh;
}
